@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-star{
    @apply text-lg text-orange-500;
}
.heart-circle{
    @apply w-8 h-8 rounded-full border border-gray-300 bg-gray-300 grid place-items-center hover:bg-red-500 hover:border-red-500 cursor-pointer;
}

.slides > div {
    animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dot.active {
    @apply  border-blue-400 bg-blue-500;
}
    